<h2> Use Down Arrow &#128317; on right to select Calendars </h2>
<div>
    <iframe src="" id="link" style="border:solid 1px #777" width="600" height="700" frameborder="0" scrolling="no"></iframe>
</div>

<script>
    let links = "https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=America%2FDenver&mode=WEEK&title=Airmotive%20Service%20Scheduling%20&showTitle=1" +
        "&src=Mmk5dmlmaWJvcWpybTJua2I2Y285ZTlhaWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" + //150
        "&src=bW42bTU5aWRxMWMybGZ0amxyODZnaWdlbjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" +
        "&src=dDRsMzA4M2kxNXU3ZDJiOGR1aWowaGIzMG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" +
        "&src=a2Jna290ZDEwZG01NXJ0ZTJscGVjOG1sb3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" +
        "&src=aHJ0OXU5bTIzazhza3Z0amUwbzNmbzdrbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" + //Ervoupe
        "&src=OGR1ODJtNzc1MWplNDN0MWxwdmo0c2RlaXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" +
        "&src=ZWxia25oNG8xdHRrb201cmJoN2c4bTJsZzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" +
        "&src=NjdxZW00ZzliNnRhNDhpY2xrYXE1ajZwY2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" + //Warrior
        "&src=dG9oMzZyY3JrbGdmcmtxYTV0MzY3bTBoYzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" +
        "&src=cDdlNTQwMGY3bjg0dXBuNWUwYXVvaW1uZ3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" +
        "&color=%2333B679&color=%239E69AF&color=%23616161&color=%23C0CA33&color=%23D50000&color=%237CB342&color=%233F51B5&color=%234285F4&color=%233F51B5&color=%23E4C441"

    document.getElementById("link").src = links;

</script>
