<!-- Start Gallery -->
<div id="gallery" class="center">
  <p style="text-align:center;">
  <a data-flickr-embed="true"  href="https://www.flickr.com/photos/158366194@N03/albums/72157701629613822" 
    title="Airmotive">
    <img src="//live.staticflickr.com/7873/46424579341_2b9c056f5e_n.jpg"
    width="800" height="600" alt="Airmotive"></a>
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  {% comment %}  
  <div class="overlay-container">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div id="gallery-carousel">
        {% for photo in site.data.gallery %}
        <div class="gallery-item">
          <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
          <blockquote>
            <p>{{ photo.description }}</p>
            <footer>
              {{ photo.name }}
              <small>{{ photo.title }}</small>
            </footer>
          </blockquote>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endcomment %}
</div>
<!-- End Gallery -->
