<div class="hero" 
  style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') 
  no-repeat; background-size: 100% auto; background-position: center top; 
  position: relative; padding-bottom: 75%; height: 0;">
  <div class="hero-content">
    <div class="container-fluid">
      <div class="hero-content-inner">
        <h1>{{ site.hero.hero_title }}</h1>
        <p>{{ site.hero.hero_description }}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid hero-blocking" style="min-height: 50em;">

  </div>

</div>
<!-- look at to auto size image. 
   https://stackoverflow.com/questions/40520604/set-background-image-width-100-height-auto 
     <img src="{{ site.baseurl }}/img/{{ site.hero.hero_img }}" 
    alt="banner image" style="width: 100%; height: auto; opacity:0;" />
  -->
  