<!-- Start Services -->
<div id="services" class="services">
  <div class="container-fluid">
    <h2 class="section-title">Services</h2>

    <div class="row">
      {% for service in site.data.services %}
      <div class="col-sm-6 col-md-4">
        <div class="icon-box">
          {% if service.svg_icon %}
          <img src="{{ site.baseurl }}/svg/{{ service.svg_icon }}"
            width="64px" height="64px"/>
          {% else %}
          <svg class="icon {{ service.icon }}"><use xlink:href="#{{ service.icon }}"></use></svg>
          {% endif %}
          <h4>{{ service.title }}</h4>
          <p>{{ service.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Services -->
